.nav{
    background-color: rgba(248, 168, 19, 0.904);
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 30px;
    width: 100%;
    align-items: center;
    border-bottom:solid yellow 20px;
    padding: 30px;

}

a:hover{
    color: azure;
}

.images{
    color: white;

}
.color1{
    color:black;
    
}
.mission{
    color: rgb(236, 82, 26);
    background-color: rgb(46, 44, 44);
    padding-left: 300px;
    padding-top: 10px;
}

.ourwork{
    height: 320px;
    width: 100%;
    display: flex;
    background-color: orange;
    justify-content: space-between;
    padding-top: 10px;
    margin-top:-20px;

}

.pic1{
    width:300px;
    margin:10px;
    margin-left: 80px;

}
.pic2{
    width:300px;
    margin-right: 30px;

}
.pic3{
    width:300px;
    margin:10px;
    margin-left: 80px;
}

.down{
    height: 320px;
    width: 100%;
    display: flex;
    background-color: orange;
    margin-top: -5px;
    
}
.pic4{
    width:300px;
    margin:10px;
    margin-left: 200px;

}
.pic5{
    width:300px;
    margin:10px;
    margin-left: 400px;

}
.dw{
    color: rgb(236, 82, 26);
    background-color: rgb(46, 44, 44);        
    padding-left: 500px;
    padding-top: 10px;
    border-top: solid yellow 20px;
    
    
}





